.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}
.Container h2 {
  margin-bottom: 20px;
}
.Container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #0b0b0b;
  border-radius: 3px;
}
.Container button {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
